<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937378620114-jm4088lhc43omjps7p4mbqcms4io7plv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937378620114-jm4088lhc43omjps7p4mbqcms4io7plv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>937378620114-4eiiv23hf0cl3mkag5jc87kf3fe9fmdq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASYZxTH4BsdSyBlN-pCW8uzOPjpFgn5DY</string>
	<key>GCM_SENDER_ID</key>
	<string>937378620114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.placementapp</string>
	<key>PROJECT_ID</key>
	<string>placement-database-app</string>
	<key>STORAGE_BUCKET</key>
	<string>placement-database-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937378620114:ios:ab00b7208a1174a28d830b</string>
</dict>
</plist>